<div class="row">
  <div class="col-md-8">
    <%= @event.name %>
    </br>
    <%= @event.startdate %>
    </br>
    <%= @event.enddate %>
  </div>
  <div class="col-md-4">
    <% if current_user %>
      <%= link_to "Delete Topic", @event, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this event?' } %>
    <% end %>
   </div>
</div>