
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
         <%= link_to activity.name, event_activity_path(activity.event, activity) %>
         <%= activity.starttime  %>
         <%= activity.completed  %>
      </h4>
    </div>
  </div>
