<div class="col-md-2">
  <%= activity.starttime.strftime('%l:%M %P')  %>
</div>
<div class="col-md-4">
  <%= link_to activity.name, event_activity_path(activity.event, activity) %>
</div>  
<div class="col-md-2">
  <% if activity.completed  %>
    <p class= 'glyphicon glyphicon-ok'></p>
  <% else %>
    <%= link_to 'Completed', event_activity_path(activity.event, activity), method: :put, class: 'btn btn-success' %>
  <% end %>
</div>

